
/* heading */
h1 {
	font-family: 'Suez One', serif;
	font-size: 44px;
	/* padding: 10px ; */


}
/* Subheading */
 h2{

    font-family: 'Nunito Sans', sans-serif;
	font-size: 14px;
	/* padding: 10px 10px; */

}

/* Body text */
#bodyText{
	
  margin-left: auto;
  margin-right: auto;
	padding: 12px 16px; 
	font-family: 'Nunito Sans', sans-serif;
	font-size: 12px;
	text-align: left;
	width: 50%;

}

/* Cover div  */
#cover {
	text-align: center;
	/* background-color:rgb(61, 132, 212); */
	/* padding: 14px 14px; */
  font-size: 17px;
}

#sanky{
margin-left: auto;
  margin-right: auto;
  width: 40%;
}