
/* heading */
h1 {
	font-family: 'Suez One', serif;
	font-size: 44px;
	/* padding: 10px ; */


}
/* Subheading */
 h2{

    font-family: 'Nunito Sans', sans-serif;
	font-size: 14px;
	/* padding: 10px 10px; */

}

/* Body text */
#bodyText{
	
  margin-left: auto;
  margin-right: auto;
	padding: 12px 16px; 
	font-family: 'Nunito Sans', sans-serif;
	font-size: 14px;
	text-align: left;
	width: 50%;
}

/* Body text */
#footer{
	
  margin-left: auto;
  margin-right: auto;
	padding: 12px 16px; 
	font-family: 'Nunito Sans', sans-serif;
	font-size: 14px;
	text-align: center;
	width: 50%;
}

/* Cover div  */
#cover {
	text-align: center;
	/* background-color:rgb(61, 132, 212); */
	/* padding: 14px 14px; */
  font-size: 17px;
}

#rightInformationPane {
	width: 200;
	height: 300;
	padding: 12px 16px; 
	font-family: 'Nunito Sans', sans-serif;
	font-size: 14px;
	text-align: left;
}

.wrapper {
  /* border: 1px solid red; */
	width: 50%; 
	margin-left: auto;
  margin-right: auto;
	display: flex;
	flex-direction: row;
	padding: 12px 16px; 
	font-family: 'Nunito Sans', sans-serif;
	font-size: 14px;
	text-align: left;
}

.labels{
	padding: 100px 0px 0px 0px; 

	font-weight: bold;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 14px;
	display: flex;
	flex-direction: row;
	width: 54%;
	margin-left: auto;
  margin-right: auto;
}

.labelsTop10{
	padding: 40px 0px 40px 0px; 

	font-weight: bold;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 14px;
	display: flex;
	flex-direction: row;
	width: 50%;
	margin-left: auto;
  margin-right: auto;
}

.inner{
	flex-grow: 1;
  width: 33.3%;
	text-align: left;
}

.middle{
	flex-grow: 1;
  width: 33.3%;
	text-align: center;
}

.outer{
	flex-grow: 1;
  width: 33.3%;
	text-align: right;
}

#iframe
{
	width: 50%; 
	margin-left: auto;
  margin-right: auto;
	/* padding: 12px 16px;  */
}


/* #sankey{
	margin-left: auto;
  margin-right: auto;
  width: 30%;
} */

#body {
	padding: 10px;
	min-width: 600px;
	max-width: 1200px;
	margin: auto;
}


.node rect {
	fill-opacity: .9;
	shape-rendering: crispEdges;
	stroke-width: 0;
}
.node text {
/* text-shadow: 0 1px 0 #fff; */
}



svg {
  font: 12px sans-serif;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  font-size: 14px;
  pointer-events: none;
}

.link {
  fill: none;
	stroke: rgb(56, 81, 112);
  stroke-opacity: .1;
}

.link:hover {
  stroke-opacity: .4;
}


.bar-chart{
	width: 50%; 
	margin-left: auto;
  margin-right: auto;
	display: flex;
}


.viz-wrapper{
	display: flex;  
	width: 100%; 
	margin-left: auto;
  margin-right: auto;
  flex-flow: row wrap;
  font-weight: normal;
	text-align: left;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 12px;
	text-align: left;
}

.viz-wrapper > * {
  padding: 20px;
	flex: 1 2%;
	position: relative;
}

.leftPane{

	width: 15%;
}

.rightPane {
	
	width: 15%;
}

.chart {
	
	width: 30%;
}



.Left1 {
	position: absolute;
	top: 130px;
	padding: 10px ;
	border-style: solid;
	border-color: rgb(124, 138, 155);
  stroke-opacity: .1;
}

.Left2 {
	position: absolute;
	margin-top: 270px;
	padding: 10px ;
	border-style: solid;
	border-color: rgb(124, 138, 155);
  stroke-opacity: .1;
	
}

.Left3 {
	position: absolute;
	top: 550px;
	padding: 10px ;
	border-style: solid;
	border-color: rgb(124, 138, 155);
  stroke-opacity: .1;
}

.right1 {
	position: absolute;
	margin-top: 70px;
	padding: 10px ;
	border-style: solid;
	border-color: rgb(124, 138, 155);
  stroke-opacity: .1;
}

.right2 {
	position: absolute;
	margin-top: 220px;
	padding: 10px ;
	border-style: solid;
	border-color: rgb(124, 138, 155);
  stroke-opacity: .1;
}

.right3 {
	position: absolute;
	margin-top: 460px;
	padding: 10px ;
	border-style: solid;
	border-color: rgb(124, 138, 155);
  stroke-opacity: .1;
}



#tooltip1 {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 14px;
	text-align: left;
	display: inline-block;
	background-color: rgb(75, 79, 84);
        color: white;
        text-align: center;
        padding: 3px 0;
        padding-left: 3px;
        padding-right: 3px;
        border-radius: 10px;
        width: 200px;
        border: 1px solid #fff;
        pointer-events: none;
        position: absolute;
        /*z-index: 1;*/
        display: none;
}

/* #tooltip-labels {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 14px;
	text-align: left;
} */
