
/* heading */
h1 {
	font-family: 'Suez One', serif;
	font-size: 44px;
	/* padding: 10px ; */


}
/* Subheading */
 h2{

    font-family: 'Nunito Sans', sans-serif;
	font-size: 14px;
	/* padding: 10px 10px; */

}

/* Body text */
#bodyText{
	
  margin-left: auto;
  margin-right: auto;
	padding: 12px 16px; 
	font-family: 'Nunito Sans', sans-serif;
	font-size: 12px;
	text-align: left;
	width: 50%;

}

/* Cover div  */
#cover {
	text-align: center;
	/* background-color:rgb(61, 132, 212); */
	/* padding: 14px 14px; */
  font-size: 17px;
}

#sankey{
	margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
	padding: 10px;
	min-width: 600px;
	max-width: 1200px;
	margin: auto;
}
#chart {
	height: 500px;
	font: 13px sans-serif;
}

.node rect {
	fill-opacity: .9;
	shape-rendering: crispEdges;
	stroke-width: 0;
}
.node text {
/* text-shadow: 0 1px 0 #fff; */
}
.link {
	fill: none;
	stroke: #000;
	stroke-opacity: .2;
}

svg {
  font: 12px sans-serif;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  font-size: 14px;
  pointer-events: none;
}

.link {
  fill: none;
  stroke: #1A237E;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}


